$body-font: 	'Open Sans', sans-serif;

$black: 		#000000;
$gray: 			#E3E3E3;
$gray-light: 	lighten($gray, 5%);
$gray-dark: 	darken($gray, 10%);
$gray-darkest: 	#818181;
$white: 		#FFFFFF;

$blue: 			#1F5FD9;
$blue-dark: 	#16439A;

$red: 			#D91F1F;
$red-dark: 		#AC1313;

$green: 			#4caf50;